/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
section, header{
	display: block;
}
/* General Demo Style */
body{
	font-family: 'Josefin Sans', sans-serif;
	background: #fff;
	font-size: 15px;
	color: #3a2127;
	overflow-y: scroll;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container header{
	padding: 20px 30px;
	margin: -50px 20px 10px 20px;
	position: relative;
	display: block;
    text-align: center;
}
.container header h1{
	position: relative;
	color: #949494;
	font-style: normal;
	font-size: 48px;
	padding: 10px 0px;
}


.sliding-menu{
	height: 385px;
	width: 600px;
	margin: 20px auto;
	position: relative;
}
.sliding-menu li{
	width: 300px;
}
.sliding-menu li a{
	display: block;
	width: 280px;
	padding: 0px 10px;
	text-align: right;
	position: relative;
	z-index: 10;
	background: #fff;
	height: 97px;
	border-right: 1px solid #ddd;
	background-color: rgba(255,255,255, 0.8);
}
.sliding-menu li:nth-child(1):hover a{
	background-color: #FE0161;
}
.sliding-menu li:nth-child(2):hover a{
	background-color: #0A4BE0;
}
.sliding-menu li:nth-child(3):hover a{
	background-color: #DBE72D;
}
.sliding-menu li:nth-child(4):hover a{
	background-color: #FF9A01;
}
.sliding-menu li:nth-child(5):hover a{
	background-color: #AB4B00;
}
.sliding-menu li:nth-child(6):hover a{
	background-color: #356D1C;
}
/* add some extra padding at the bottom */
.sliding-menu li:nth-child(6) {
	padding-bottom: 30px;
}
.sliding-menu li a span{
	display:block;
}
.sliding-menu li a span:first-child{
	font-weight: 700;
	font-size: 16px;
	color: #ddd;
	padding-top: 10px;
	font-family: 'Josefin Sans', sans-serif;
}
.sliding-menu li a span:nth-child(2){
	font-weight: 400;
	/*font-style: italic;*/
	font-size: 28px;
	font-family: 'Josefin Sans', sans-serif;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	transition: color 0.2s linear;
}
.sliding-menu li:hover span:nth-child(2){
	color: #fff;
}
.sliding-menu li img{
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
	opacity: 0;
	-webkit-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-moz-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-o-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	-ms-transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
	transition: left 0.4s ease-in-out, opacity 0.6s ease-in-out;
}
#footer img {
	position: absolute;
	z-index: 2;
	right: 25px;
	top: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}
.sliding-menu li:hover img{
	left: 300px;
	opacity: 1;
}
#footer a:hover img {
	opacity: 1;
}
#footer {
	position: relative;
	text-align: right;
	margin-top: 20px;
}
#footer a {
	padding: 4px;
	right: -4px;
	padding-right: 50px;
	transition: color 0.2s linear;
}
#footer a:hover {
	background-color: #C2C2C2;
	color: #ffffff;
}
/*@media only screen and (max-device-width : 801px) {

	#footer {
		display: block;
		float: right;
		position: relative;
		clear: both;
		margin-top: 20em;
	}

}*/

/* iPad in portrait and landscape */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	#footer {
		margin-top: 5em;
	}

}*/

/* iPad in portrait */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#footer {
		margin-top: 0;	
	}
}*/

/* iPhone 5 in portrait  */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	#footer {
		margin-top: 25em;
	}
}*/

/* iPhone 5 in landscape */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#footer {
		margin-top: 35em;
	}
}*/